/* CSS */
#counter {
    width: 50%;
    margin: 16px auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: blue;
  }

.interaction {
  text-align: center;
}

#total-container {
  margin: 16px;
  display: flex;
  justify-content: center;
}

#count-container {
  display: flex;
  justify-content: center;
}